body{
    margin: 0;
    padding: 0;
    background-color: black;
    /* color: black; */
    color: white;
}

.image{
	filter: blur(4px);
}
.para1{
	color: black;
	font-size: 50px;
/*	font-family: sans-serif;*/
	position: absolute;
	top: 250px;
	left: 1150px;
	background-color: transparent;
}
.para2{
	color: black ;
	font-size: 20px;
/*	font-family: sans-serif;*/
	position: absolute;
	top: 330px;
	right: 300px;
	background-color: transparent;
}
nav{
	background-color: red;
	height: 50px;
	position: sticky;
	filter: blur(0px);
}
nav li{
	display: inline-block;
	background-color: red;
	font-size: 18px;
	color: white;
}
.listitem1{
	margin-left: 1400px;
	padding-top: 12px;
}
.listitem2{
	margin-left: 50px;
}
.listitem3{
	margin-left: 50px;
}
.divOne{
	display: flex;
	padding-bottom: 100px;
    background-color: black;
}
.divnew{
	margin-left: 200px;
    background-color: black;
}
.divnew a{
	text-decoration: none;
}
.divnew p:hover{
	color: red;
}
.box-icon{
	color: white;
}